@import "../../../../styles/mixins.pcss";

.create-user-data-page {
	@mixin square;

	&__body {
		@mixin flex-center;
		flex-flow: column;
		/* padding: 32px 64px; */
		margin: 0px auto;
		padding: 32px 8px;

		max-width: 800px;
		min-height: 800px;
	}

	&__back-button {
		@mixin flex-center;
		@mixin square 50px;
		border: 0.05em solid black;
		border-radius: 50%;
		margin-bottom: 32px;
		align-self: flex-start;

		&__icon {
			color: black;
		}
	}

	&__edit-account {
		@mixin square;
	}
}
