@import "../../../styles/mixins.pcss";

.potential-friend-card {
	height: 500px;
	width: 600px;
	background-color: white;

	&__favorite-name {
		margin-bottom: 0.45em;
	}

	&__favorite {
		color: black;
		font-weight: bold;
		background-color: #F7F7F7;
		border-radius: 16px;
		margin-bottom: 16px;
	}
}
