@font-face {
  font-family: "Rubik";
  src: url("../../public/fonts/eloquia-extrabold.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eloquia";
  src: url("../../public/fonts/eloquia-extralight.otf") format("otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
