:root {
	--main-white-color: #edf0f4;
	--main-blue-color: #0050ff;
	--buttons-gray-color: #f0f0f0;
	--border-button-black-color: #191919;
	--text-white-color: #ffff;
	--text-black-color: #101010;
	--popup-background-color: #ffff;

	--input-height: 40px;
	--input-padding-x: 12px;
	--input-padding-y: 0;
	--input-padding: var(--input-padding-y) var(--input-padding-x);
	--input-button-width: 36px;
}
